{{>layout/header}}
<form action="/security/joinProc" method="post" name="joinForm">
    <input type="text" name="loginId" placeholder="loginId"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="submit" value="Join"/>
</form>
{{>layout/footer}}